/*

  Caption
  +

*/

@use '../modules/variables' as *;
@use '../modules/mixins' as *;

.caption {
	display: block;
	position: relative;
	width: 40rem;
	max-width: 100%;
	margin: 1.5rem 0;
	padding: 0 0.625rem;
}
.caption .caption-title {
	display: block;
	cursor: default;
	color: $lighter-gray;
	font-size: 0.875rem;
	font-weight: 500;
}
.caption .caption-text {
	display: block;
	cursor: default;
	margin-top: 0.25rem;
	color: $lighter-gray;
	font-size: 0.8125rem;
}