/*

  Gallery
  +

*/

@use '../modules/variables' as *;
@use '../modules/mixins' as *;

.gallery {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(3, 1fr);
	max-width: 100%;
}

.gallery.gallery-columns-1 {
	grid-template-columns: repeat(1, 1fr);
}

.gallery.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery .gallery-caption {
	padding: 0.25rem 0;
	font-size: 0.75rem;
	color: $light-gray;
}
