/*

  Pagination
  +

*/

@use '../modules/variables' as *;
@use '../modules/mixins' as *;

.pagination {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	width: 100%;
	margin: -1.5rem 0;
}
.pagination .nav-links {
	display: flex;
	position: relative;
	padding: 0.5rem 0;
	font-size: 0.8125rem;
	color: $medium-gray;
}
.pagination .nav-links a {
	display: block;
	color: $white;
}
.pagination .nav-links a:hover {
	color:$orange;
	text-decoration: none;
	@include prefix(transition, color .8s, moz webkit ms);
}
.pagination .nav-next {
	margin-left: auto;
}
.pagination .page-numbers {
	display: block;
	padding: 0.125rem 0.625rem;
}
.pagination .page-numbers.current {
	cursor: default;
	color: $darkish-blue;
	background: $orange;
	border-radius: 3px;
	font-weight: $bold-weight;
	@include prefix(transition, background-color .8s, moz webkit ms);
}
.pagination .page-numbers.current:hover {
	color: $lighter-gray;
	@include prefix(transition, background-color .8s, moz webkit ms);
	background: transparent;
}
@media screen and (max-width: 767px) {
	.pagination {
		margin: -0.75rem 0;
	}
}